# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
console/js/shopify.bundle.js
console/js/bundle.js
console/js/gamify.bundle.js
console/js/vendor/
console/node_modules/
console/css/gamify.min.css
console/css/shopify.min.css
console/css/style.min.css
console/target/
dashboard/node_modules/
dashboard/js/gamify.bundle.js
dashboard/js/vendor/
dashboard/css/gamify.min.css
dashboard/target/

**/.project
**/.settings
.vscode
npm-debug.log
target/
deep-portal-web.iml
