
// Device Orientation
.rotate-toggle {
	cursor: pointer;
	font-size: 2.5em;
	padding: 10px;
	background: $dm-green02;
	width: auto;
	height: auto;
	border-radius: 100%;
	user-select: none;
}

// New Page Builder CSS - v2.0
iframe,
object {
	width: 100%;
	height: 100%;
	max-height: 100%;
	border: none;
}

.editor {
	position: absolute;
	top: 50px;
	left: 0;
	margin: 0;
	margin-left: 300px;
	padding: 0;
	width: calc(100% - 300px);
	height: calc(100% - 110px);

	.wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
	}

	&.landscape,
	&.portrait {
		background: #111111;
		margin: 0 auto 20px;
		padding: 55px 11px 70px;
		border: 2px solid #333;
		border-radius: 35px;

		position: relative;
		top: 10px;
		z-index: 1;
		&:before,
		&:after {
			content: "";
			position: absolute;
			z-index: 2;
		}
		&:before {
			background: #1f1f1f;
			width: 40px;
			height: 40px;
			left: 150px;
			bottom: 20px;
			border: 2px solid #333;
			border-radius: 100%;
		}

		.wrapper {
			border: 2px solid #222;
			// position: absolute;
			// top: 50%;
			// left: 50%;
			// transform: translate(-50%, -50%);

			// width: 100%;
			// height: 100%;
		}

		&.tablet {
			&.landscape {
				width: 1100px;
				height: 670px;
				&:before {
					left: auto;
					top: 315px;
					right: 20px;
				}
				.wrapper {
					top: 50%;
					left: 45px;
					transform: translate(0, -50%);

					max-width: 960px;
					max-height: 640px;
					iframe,
					object {}
				}
			}
			&.portrait {
				width: 670px;
				height: 1100px;
				&:before {
					left: 315px;
				}

				.wrapper {
					top: 60px;
					left: 50%;
					transform: translate(-50%, 0);

					max-width: 640px;
					max-height: 960px;
					iframe,
					object {}
				}

			}

		}
		&.mobile {
			&.landscape {
				width: 690px;
				height: 340px;
				&:before {
					left: auto;
					top: 150px;
					right: 20px;
				}
				.wrapper {
					top: 50%;
					left: 45px;
					transform: translate(0, -50%);
					max-width: 568px;
					max-height: 320px;
					iframe,
					object {}
				}
			}
			&.portrait {
				width: 340px;
				height: 690px;
				&:before {
					left: 150px;
				}
				.wrapper {
					top: 45px;
					left: 50%;
					transform: translate(-50%, 0);
					max-width: 320px;
					max-height: 568px;
					iframe,
					object {}
				}
			}
		}
	}
}